<style>
    .alert {
        width: 46%;
    margin: auto;
    margin-top: 37px;
    margin-bottom: -72px;
}

@media (max-width: 600px) {
  .alert {
    width: 100%;
  }
}

</style>

<% if (locals.messages) { %>
    <% Object.keys(messages).forEach((key) => { %>
      <% messages[key].forEach((message) => { %>
        <div class="alert alert-<%= key !== `error` ? key : `danger` %> fade show" id="flash-message" role="alert">
          <strong><%= key === "danger" ? "Error" : key %>!</strong> <%= message %>.
        </div>
      <% }) %>
    <% }) %>
  <% } %>

    <script>
      setTimeout(function() {
        var alertElements = document.querySelectorAll('.alert');
        alertElements.forEach(function(alertElement) {
          alertElement.style.display = 'none';
        });
      }, 5000);
    </script>
  