<% if (locals.messages) { %> <% Object.keys(messages).forEach((key) => { %> <% messages[key].forEach((message) => { %>
    <div class="alert alert-<%= key %> alert-dismissible fade show" id="flash-message" role="alert">
        <strong><%= key === "danger" ? "Error" : key %>!</strong> <%= message %>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% }) %> <% }) %> <% } %>