<header>
    <div class="header-top-furniture wrapper-padding-2 res-header-sm">
        <div class="container-fluid">
            <div class="header-bottom-wrapper">
                <div class="logo-2 furniture-logo ptb-30">
                    <a href="/">
                        <img class="logo-img" src="/assets/img/logo/LapshopPro.png" alt="">
                    </a>
                </div>
                <div class="menu-style-2 furniture-menu menu-hover">
                    <nav>
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><a href="/shop">Shop</a>
                            </li>
                            <li><a href="/about">About Us</a>
                            </li>
                            <!-- <li><a href="#">blog</a></li> -->
                            <li><a href="/contact">contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3">
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="user-avatar">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="ti-user"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="userMenu">
                                    <% if (!user) { %>
                                        <a class="dropdown-item" href="/login">Login</a>
                                        <a class="dropdown-item" href="/register">Register</a>
                                        <% } else {%>
                                            <a class="dropdown-item" href="/logout">Logout</a>
                                            <a class="dropdown-item" href="/profile">Profile</a>
                                            <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="header-cart">
                            <a class="icon-wishlist" href="/wishlist" data-toggle="tooltip" data-placement="top"
                                title="Wishlist">
                                <i class="ti-heart"></i>
                            </a>
                        </div>

                        <div class="header-">
                            <a class="icon-cart-furniture" href="/cart" data-toggle="tooltip" data-placement="top"
                                title="View Cart">

                                <i class="ti-shopping-cart"></i>

                                <span class="shop-count-furniture green">02</span>
                            </a>


                        </div>
                    </div>

                </div>
            </div>

</header>
<style>
    .ti-user,
    .icon-wishlist {

        font-size: 26px;
    }

    .user-avatar {
        margin-top: 5px;

    }

    .logo-img {
        max-width: 100px;
        max-height: 100px;
    }
</style>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>