<div class="about-story pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="story-img">
                    <img src="assets/img/banner/sale.jpg" alt="">
                    <div class="about-logo">
                        <h3>LapshopPro</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="story-details pl-50">
                    <div class="story-details-top">
                        <h2>WELCOME TO <span>LapshopPro</span></h2>
                        <p>Welcome to LapShopPro, where we combine cutting-edge technology with unbeatable affordability
                            to provide you with premium laptops and accessories, all backed by our commitment to
                            outstanding customer service and a passion for innovation. </p>
                    </div>
                    <div class="story-details-bottom">
                        <h4>WE START AT 2023</h4>
                        <p>In 2023, LapShopPro embarked on a journey to redefine your laptop shopping experience. Since
                            then, we've been dedicated to offering the latest in technology, superior customer service,
                            and budget-friendly options to meet your computing needs. Our story is just beginning, and
                            we're excited to accompany you on your tech adventures.</p>
                    </div>
                    <div class="story-details-bottom">
                        <h4>WON BEST ONLINE SHOP AT 2023</h4>
                        <p>In 2023, LapShopPro proudly clinched the title of 'Best Online Shop,' a testament to our
                            unwavering commitment to excellence in the world of online laptop retail. We're not stopping
                            there, as we continue to innovate, provide top-notch service, and ensure your laptop
                            shopping experience is truly exceptional. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-banner-area pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="banner-wrapper-4 mb-30">
                    <a href="#"><img
                            src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80"
                            alt=""></a>
                    <div class="banner-content4-style1">
                        <h4>Best <br>Electronics <br>Products.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="banner-wrapper-4 mb-30">
                    <a href="#"><img style="height:200px !important;"
                            src="https://plus.unsplash.com/premium_photo-1673548917645-e8d9ed21e2b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                            alt=""></a>
                    <div class="banner-content4-style2">
                        <h5 class="p-left">get</h5>
                        <h2>15% </h2>
                        <h5 class="p-right">off</h5>
                        <h3>Laptops</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="banner-wrapper-4 mb-30">
                    <a href="#"><img src="assets/img/banner/22.jpg" alt=""></a>
                    <div class="banner-content4-style3">
                        <h1>Up to <br>10% Off</h1>
                        <h3>Lonovo Vio D22</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="goal-area pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="goal-wrapper mb-30">
                    <h3>OUR VISION</h3>
                    <p> Our vision at LapShopPro is to be the leading online destination for laptop enthusiasts, known
                        for our innovation, exceptional product selection, and a seamless shopping experience. We aim to
                        empower individuals and businesses with cutting-edge technology solutions.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="goal-wrapper mb-30">
                    <h3>OUR MISSION</h3>
                    <p>LapShopPro is on a mission to provide our customers with the most reliable, high-quality laptops
                        and accessories at competitive prices. We strive to exceed customer expectations through
                        outstanding service, expert guidance, and a commitment to staying at the forefront of
                        technological advancements.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="goal-wrapper mb-30">
                    <h3>OUR GOAL</h3>
                    <p>Our primary goal is to continually expand our product offerings, ensuring that we cater to the
                        diverse needs of our customers. We aim to enhance our online platform's user-friendliness and
                        accessibility. Additionally, we are committed to reducing our environmental footprint through
                        eco-friendly practices and contributing positively to the community by supporting digital
                        literacy initiatives.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="choose-area pb-100">
    <div class="container">
        <div class="about-section">
            <h3>YOU CAN CHOOSE US BECAUSE <br>WE ALWAYS PROVIDE IMPORTANCE...</h3>
            <p>ezone provide how all this mistaken idea of denouncing pleasure and sing pain was born will give you a
                complete account of the system, and expound the actual </p>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="all-causes">
                    <div class="row">
                        <div class="col-md-6 causes-res">
                            <div class="choose-wrapper">
                                <h4>FAST DELIVERY</h4>
                                <p>ezone provide how all this mistaken dea of denouncing pleasure and sing </p>
                            </div>
                            <div class="choose-wrapper">
                                <h4>SECURE PAYMENT</h4>
                                <p>ezone provide how all this mistaken dea of denouncing pleasure and sing </p>
                            </div>
                            <div class="choose-wrapper">
                                <h4>EASY ORDER TRACKING</h4>
                                <p>ezone provide how all this mistaken dea of denouncing pleasure and sing </p>
                            </div>
                            <div class="choose-wrapper">
                                <h4>24/7 SUPPORT</h4>
                                <p>ezone provide how all this mistaken dea of denouncing pleasure and sing </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="choose-wrapper">
                                <h4>QUALITY PRODUCT</h4>
                                <p>ezone provide how all this mistaken dea of denouncing pleasure and sing </p>
                            </div>
                            <div class="choose-wrapper">
                                <h4>MONEY BACK GUARNTEE</h4>
                                <p>ezone provide how all this mistaken dea of denouncing pleasure and sing </p>
                            </div>
                            <div class="choose-wrapper">
                                <h4>FREE RETURN</h4>
                                <p>ezone provide how all this mistaken dea of denouncing pleasure and sing </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="choose-banner-wrapper f-right">
                    <img src="assets/img/banner/off.jpg" alt="">
                    <div class="choose-banner-text">
                       <a href="/shop">SHOP NOW </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-area">
    <img src="assets/img/banner/39.jpg" alt="">
</div>
<!-- testimonials area start -->
<div class="testimonials-area pt-100 pb-95 bg-img" style="background-image: url(assets/img/bg/7.jpg)">
    <div class="container">
        <div class="testimonials-active owl-carousel">
            <div class="single-testimonial-2 text-center">
                <img src="assets/img/team/1.png" alt="">
                <p>I'm a passionate web developer with years of experience, specializing in creating user-friendly and
                    high-performance websites. I thrive on tackling complex challenges and turning creative ideas into
                    reality.</p>
                <img src="assets/img/team/2.png" alt="">
                <h4>Muhammed Parvesh</h4>
                <span>uiux Designer</span>
            </div>
        </div>
    </div>
</div>