<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(assets/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Login</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li>Login</li>
            </ul>
        </div>
    </div>
</div>

<!-- login-area start -->
<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ms-auto me-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form action="#" method="post">
                                <label for="email">Email:</label>
                                <input type="email" name="email" placeholder="Email">
                                <label for="password">Password:</label>
                                <input type="password" name="password" placeholder="Password">
                                <div class="button-box">
                                    <div class="login-toggle-btn">
                                        <input type="checkbox">
                                        <label>Remember me</label>
                                        <a href="#">Forgot Password?</a>
                                    </div>
                                    <button type="submit" class="default-btn floatright ">Login</button>
                                </div>
                            </form>

                            <% if (typeof message !=='undefined' ) { %>
                                <div class="alert alert-danger alert-dismissible fade show mt-3" id="message"
                                    role="alert">
                                    <div class="d-flex justify-content-between">
                                        <%- message %>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const message = document.getElementById('message');

    const hide = () => {
        message.style.display = 'none';
    }

    setTimeout(hide, 3000);
</script>