<main class="col-md-9 mx-auto col-lg-10 px-md-4">
  <div class="container ">
    <div class="text-center mb-4">
      <h3 class="display-5 fw-bold">Account Details</h3>
    </div>
    <div class="card shadow-lg p-4">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-4">
            <h2 class="h4 fw-bold">Name:</h2>
            <p class="lead"><%= user.userName %></p>
          </div>
          <div class="mb-4">
            <h2 class="h4 fw-bold">Email:</h2>
            <p class="lead"><%= user.email %></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="userWallet card add-btn text-center p-4">
            <p class="h4 fw-bold  mb-2">My Wallet</p>
            <i class="fas fa-wallet text-warning fa-3x mb-3"></i>
            <h3 class="h2 fw-bold ">₹1234.00</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-3">
      <div class="col-md-3">
        <div class="card shadow">
          <a href="/orders" class="text-decoration-none text-center p-4 d-block">
            <i class="fas fa-shopping-bag fa-3x text-primary mb-3"></i>
            <h3 class="h4 fw-bold">Orders</h3>
            <p class="text-muted">Check your orders</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow">
          <a href="/wishlist" class="text-decoration-none text-center p-4 d-block">
            <i class="far fa-heart fa-3x text-danger mb-3"></i>
            <h3 class="h4 fw-bold">Wishlist</h3>
            <p class="text-muted">Check your Wishlist</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow">
          <a href="/cart" class="text-decoration-none text-center p-4 d-block">
            <i class="fas fa-shopping-cart fa-3x text-success mb-3"></i>
            <h3 class="h4 fw-bold">Cart</h3>
            <p class="text-muted">Check your Cart</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow">
          <a href="/savedAddress" class="text-decoration-none text-center p-4 d-block">
            <i class="fas fa-map-marker-alt fa-3x text-info mb-3"></i>
            <h3 class="h4 fw-bold">Address</h3>
            <p class="text-muted">Saved Addresses & Edit</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
