

<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(assets/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>register</h2>
            <ul>
                <li><a href="#">home</a></li>
                <li> register </li>
            </ul>
        </div>
    </div>
</div>
<!-- register-area start -->
<div class="register-area ptb-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-12 col-lg-12 col-xl-6 ms-auto me-auto">
        <div class="login">
          <div class="login-form-container">
            <div class="login-form">
              <form action="" method="post">
                <label for="user-name">Username:</label>
                <input  type="text" id="user-name" name="userName" placeholder="Enter your username">

                <label for="user-email">Email:</label>
                <input type="email" id="user-email" name="email" placeholder="Enter your email">

                <label for="user-password">Password:</label>
                <input type="password" id="user-password" name="password" placeholder="Enter your password">

                <!-- Add Phone Number input -->
                <label for="user-phone">Phone Number:</label>
                <input type="tel" id="user-phone" name="mobile" placeholder="Enter your phone number">

                <div class="button-box">
                  <button type="submit" class="default-btn floatright">Register</button>
                  <!-- Add Login button -->
                  <a href="/login" class="default-btn floatleft">Login</a>
                </div>
              </form>
              
              <!-- alert boxes----- -->
              <% if (typeof  message !== 'undefined') { %>
                <div class="alert alert-success fade show mt-3" id="message" role="alert">
                    <%- message %> 
                </div>
                <% } %>
              
              
                <% if (typeof userCheck !== 'undefined') { %>
                  <div class="alert alert-danger fade show mt-3" id="message" role="alert">
                      <%- userCheck %>
                  </div>
                  <% } %>
                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  const message = document.getElementById('message');

  const hide = () => {
      message.style.display = 'none';
  }

  setTimeout(hide, 3000);
</script>