

<!-- register-area start -->
<div class="register-area ptb-20 ">
  <div class="breadcrumb-area pb-3 " >
      <div class="container">
          <div class="breadcrumb-content text-center">
              
              <ul>
                  <li><a href="#" style="color: black;">home</a></li>
                  <li style="color: black;"> register </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-12 col-lg-12 col-xl-6 ms-auto me-auto">

        
        <% if (typeof userCheck !== 'undefined') { %>
          <div class="alert alert-danger fade show mt-3" id="message" role="alert">
            <%- userCheck %>
          </div>
          <% } %>
          <div class="login">
            <h2 style="color:black">Register</h2>
            <div class="login-form-container">
            <div class="alert alert-danger fade show mt-3" id="error-message" role="alert" style="display: none;"></div>
            <div class="login-form">
              <form action="" method="post" onsubmit="return validateForm()">
                <label for="user-name">Username:</label>
                <input  type="text" id="user-name" name="userName" placeholder="Enter your name">

                <label for="user-email">Email:</label>
                <input type="text" id="user-email" name="email" placeholder="Enter your email">

                <label for="user-password">Password:</label>
                <input type="password" id="user-password" name="password" placeholder="Enter your password">
                <label for="user-repassword">Reenter Password:</label>
                <input type="password" id="user-repassword" name="repassword" placeholder="Reenter your password" >
                <div class="button-box">
                  <button type="submit" class="default-btn floatright">Register</button>
                
                  <a href="/login" class="float-right mx-5">Already have an account ? Login now!</a>

                </div>
              
              </form>
              <!-- alert boxes----- -->
              <% if (typeof  message !== 'undefined') { %>
                <div class="alert alert-success fade show mt-3" id="message" role="alert">
                    <%- message %> 
                </div>
                <% } %>
              
              
              
                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/assets/js/shop/registerValidation.js"></script>