<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ms-auto me-auto">

                <h1 class="cart-heading">Forgot Password</h1>
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form action="/resetPassword/<%= token %>?_method=PUT" method="post"
                                onsubmit="return validateForm()">
                                <div class="form-group">
                                    <label for="newPassword">New Password</label>
                                    <input type="password" class="form-control" id="newPassword" name="password" />
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword" />

                                </div>
                                <!-- Error messages -->
                                <div id="errorMessages" class="text-danger"></div>
                                <div class="button-box">
                                    <button type="submit" class="default-btn floatright">Update
                                        Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        const newPassword = document.getElementById("newPassword").value;
        const confirmPassword = document.getElementById("confirmPassword").value;
        const errorMessages = document.getElementById("errorMessages");

        // Clear previous error messages
        errorMessages.innerHTML = "";

        // Check for empty input
        if (newPassword.trim() === "" || confirmPassword.trim() === "") {
            errorMessages.innerHTML = "Both passwords are required.";
            return false;
        }

        // Check for minimum password length
        const minLength = 4;
        if (newPassword.length < minLength) {
            errorMessages.innerHTML = `Password must be at least ${minLength} characters long.`;
            return false;
        }

        // Check if passwords match
        if (newPassword !== confirmPassword) {
            errorMessages.innerHTML = "Passwords do not match. Please make sure both passwords are the same.";
            return false;
        }

        return true;
    }
</script>