<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin/dashboard" class="brand-wrap">
            <img class="logo-img" src="/admin/assets/imgs/theme/LapshopPro.png" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu mx-2 my-2">
                <a class="" href="/admin/user"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>

            </li>
            <li class="menu-item has-submenu mx-2 my-2">
                <a class="" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>

            </li>
            <li class="menu-item has-submenu mx-2 my-2">
                <a class="" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>

            </li>
            <li class="menu-item has-submenu pl-1 mx-2 my-2">
                <a class="" href="/admin/category"> <i class="fa fa-list-alt"></i>
                    <span class="text pl-3">Category</span>
                </a>
            </li>
            <li class="menu-item has-submenu pl-1 mx-2 my-2">
                <a class="" href="/admin/coupons"> <i class="fa fa-gift"></i>
                    <span class="text pl-3">coupons</span>
                </a>
            </li>
            <li class="menu-item has-submenu pl-1 mx-2 my-2">
                <a class="" href="/admin/banners"><i class="fas fa-image"></i>
                    <span class="text pl-3">Banner</span>
                </a>
            </li>
        </ul>
        <hr>

        <br>
        <br>
    </nav>
</aside>
<style>
    .fa-list-alt,
    .fa-gift,
    .fa-tag,
    .fa-image {
        color: #adb5bd;
    }

    .text {
        color: black;
        font-weight: 400;
    }

    .menu-item {
        text-decoration: none;
    }

    a {
        /* Your CSS styles here */
        text-decoration: none !important;

    }

    .logo-img {
        max-width: 100px;
        max-height: 100px;
    }
</style>

<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-nav  ms-auto ">
            <ul class="nav">
                <li class="dropdown nav-item dropleft">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                        aria-expanded="false"> <img class="img-xs rounded-circle"
                            src="/admin/assets/imgs/people/3251650.png" alt="User"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item text-danger" href="/admin/logout"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <div class="container ">
        <h2 mt-2>Add Product</h2>

        <form action="/admin/product/addProduct" method="post" enctype="multipart/form-data"
            onsubmit=" return validateProductForm()">
            <!-- <div class="alert alert-danger fade show mt-3 col-md-6 text-center" id="error-message" role="alert"
            style="display: none; ">
        </div> -->
            <div class="card">
                <div class="card-body">
                    <hr class="mb-4 mt-0">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>1. General info</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" id="title" name="title"
                                    class="form-control common-input">
                                <div class="error-message"></div> <!-- Error message for title -->
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control common-input" id="description"
                                    name="description" rows="2"></textarea>
                                <div class="error-message"></div> <!-- Error message for description -->
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Colors</label>
                                <input type="text" placeholder="Type here" id="color" name="color"
                                    class="form-control common-input">
                                <div class="error-message"></div> <!-- Error message for color -->
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Brand name</label>
                                <input placeholder="Type here" id="brand" class="form-control common-input"
                                    name="brand">
                                <div class="error-message"></div>
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->

                    <hr class="mb-4 mt-0">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>2. Category</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <select class="form-select" name="categoryName" id="category">
                                    <option value="">Select category</option>
                                    <% catList.forEach(category=> { %>
                                        <option value="<%= category?._id %>">
                                            <%= category.categoryName %>
                                        </option>
                                        <% }) %>
                                </select>
                                <div class="error-message"></div>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4 mt-0">

                    <div class="row">
                        <div class="col-md-3">
                            <h6>3. Pricing</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label for="Productprice">Product Price</label>
                                <input type="text" placeholder="₹" name="productPrice" id="productPrice"
                                    class="form-control">
                                <div class="error-message"></div>
                            </div>
                            <div class="mb-4">
                                <label for="salePrice">Sale Price</label>
                                <input type="text" placeholder="₹" name="salePrice" id="salePrice" class="form-control">
                                <div class="error-message"></div>
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->

                    <hr class="mb-4 mt-0">

                    <div class="row">
                        <div class="col-md-3">
                            <h6>4. Stock</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label for="Quantity">Quantity</label>
                                <input type="text" placeholder="No's" name="quantity" id="quantity"
                                    class="form-control">
                                <div class="error-message"></div>
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr class="mb-4 mt-0">

                    <div class="row">

                        <div class="col-md-3">
                            <h6>5. Media</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="card p-md-5 p-2 me-md-5">
                                <h5>Choose product images </h5>
                                <div class="form-group mt-2">
                                    <input type="file" class="form-control " name="images" id="image" accept="image/*"
                                        multiple>
                                    <div class="error-message"></div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mb-4 mt-2 ">Add Product</button>
                        </div>
        </form>
    </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/admin/addProductValidation.js"></script>