<div class="container ">
    <h2 mt-2>Add Product</h2>

    <form action="/admin/product/addProduct" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-body">
                <hr class="mb-4 mt-0">
                <div class="row">
                    <div class="col-md-3">
                        <h6>1. General info</h6>
                    </div>
                    <div class="col-md-9">
                        <div class="mb-4">
                            <label class="form-label">Product title</label>
                            <input type="text" placeholder="Type here" name="title" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control" name="description"
                                rows="4"></textarea>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Colors</label>
                            <input type="text" placeholder="Type here" name="color" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Brand name</label>
                            <input placeholder="Type here" class="form-control" name="brand">
                        </div>
                    </div> <!-- col.// -->
                </div> <!-- row.// --> 

                <hr class="mb-4 mt-0">
                <div class="row">
                    <div class="col-md-3">
                        <h6>2. Category</h6>
                    </div>
                    <div class="col-md-9">
                        <div class="mb-4">
                            <select class="form-select" name="categoryName" id="category" required>
                                <option value="">Select category</option>
                                <% catList.forEach(category=> { %>
                                    <option value="<%= category?._id %>">
                                        <%= category.categoryName %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
                <hr class="mb-4 mt-0">

                <div class="row">
                    <div class="col-md-3">
                        <h6>3. Pricing</h6>
                    </div>
                    <div class="col-md-9">
                        <div class="mb-4">
                            <label for="Productprice">Product Price</label>
                            <input type="text" placeholder="₹" name="productPrice" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label for="salePrice">Sale Price</label>
                            <input type="text" placeholder="₹" name="salePrice" class="form-control">
                        </div>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

                <hr class="mb-4 mt-0">

                <div class="row">
                    <div class="col-md-3">
                        <h6>4. Units</h6>
                    </div>
                    <div class="col-md-9">
                        <div class="mb-4">
                            <label for="Quantity">Quantity</label>
                            <input type="text" placeholder="No's" name="quantity" class="form-control">
                        </div>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
                <hr class="mb-4 mt-0">

                <div class="row">
                    <div class="col-md-3">
                        <h6>5. Media</h6>
                    </div>
                    <div class="col-md-9">
                        <div class="card p-md-5 p-2 me-md-5">
                            <h5>Choose product images </h5>
                            <span class="fw-normal mb-4 text-success">file supports only: jpeg,jpg,png,webp</span>
                            <span class="fw-bold">Select the Primary Image</span>
                            <input type="file" accept=".jpg,.jpeg,.png,.webp,.svg" class="form-control FilUploader"
                                name="primaryImage" class="mb-3" required />
                            <span class="fw-bold">Select secondary images <br> <br>
                                <input type="file" accept=".jpg,.jpeg,.png,.webp,.svg" class="form-control FilUploader"
                                    name="secondaryImage" class="mb-3" multiple required /><br>
                                <input type="file" accept=".jpg,.jpeg,.png,.webp,.svg" class="form-control FilUploader"
                                    name="secondaryImage" class="mb-3" multiple required /><br>
                                <input type="file" accept=".jpg,.jpeg,.png,.webp,.svg" class="form-control FilUploader"
                                    name="secondaryImage" class="mb-3" multiple required /><br>
                        </div>
                        <button type="submit" class="btn btn-primary mb-4 mt-2 ">Add Product</button>
                        </div>
                    </form>
                </div>
                </div>
                </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const message = document.getElementById('message');

    const hide = () => {
        message.style.display = 'none';
    }

    setTimeout(hide, 3000);
</script>