
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />


<style>
  .selectize-input>input  {
    min-height:  46px !important;
  }
  .item  {
    line-height:  46px !important;
  }
  .selectize-input{
    border-radius: 7px;
    border-color: black;
  }
  img {
    display: block;
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
  }
  label.cabinet {
    display: block;
    cursor: pointer;
    height: 200px;
    margin-bottom: 25px;
  }

  label.cabinet input.file {
    position: absolute;
    width: auto;
    height: 372px;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    margin-top: -30px;
  }

  #upload-demo {
    width: 100%;
    height: 385px;
    padding-bottom: 25px;
  }
</style>
<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4 float-start">Create Banner</h5>
        <button type="button" onclick="history.back(-1)" class="btn btn-outline-primary float-end">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 14l-4 -4l4 -4"></path>
            <path d="M5 10h11a4 4 0 1 1 0 8h-1"></path>
          </svg>
        </button>
        <div class="card w-100" style="box-shadow: none;">
          <div class="card-body p-0">
            <form id="Bannerform">
              <div class="row">
                <div class="col-xl-4 text-dark">
                  <div class="row">
                    <div class="col-md-12">
                      <label class="cabinet center-block">
                        <label for="BannerImage"><b id="bannerImageLabel">Upload Image* <br>(supported formats: jpg | jpeg | png)</label>
                        <figure>
                          <input type="file" class="item-img file center-block" name="file_photo" id="filePhoto"/>
                          <img src="" class="gambar img-responsive img-thumbnail mt-2 img-fluid" id="item-img-output" />
                          <figcaption><i class="fa fa-camera"></i></figcaption>
                        </figure>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-xl-8 text-dark">
                  <label for="BannerUrl" id="bannerUrlLabel"></label>
                  <select id="select-state" placeholder="Pick a Product*" class="mb-3" name="productUrl">
                    <option value="">Select a Product...</option>
                    <option value="/foodDetail/">Food 1</option>
                    <option value="/foodDetail/">Food 2</option>
                  </select>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control border-dark" name="bannerName" id="bannerName"
                      placeholder="Banner Name">
                    <label for="BannerName" id="bannerNameLabel">Banner Heading*</label>
                  </div>
                  <div class="form-floating mb-3">
                    <textarea class="form-control border-dark" style="height: 195px" maxlength="500" minlength="100" placeholder="Description..."
                      name="bannerDescription" id="bannerDescription"></textarea>
                    <label for="BannerDescription" id="bannerDescriptionLabel">Description*</label>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <h4 class="modal-title" id="myModalLabel">
                      </h4>
                    </div>
                    <div class="modal-body">
                      <div id="upload-demo" class="center-block"></div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gap-2 col-4 mx-auto float-end my-5">
                <button type="submit" class="btn btn-success float-end w-50">Submit</button>
                <button type="reset" class="btn btn-danger float-end mx-3">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<script>
  // Start upload preview image
  $(".gambar").attr("src", "/no-image-upload.jpg");
  var $uploadCrop,
    tempFilename,
    rawImg,
    imageId;
  function readFile(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('.upload-demo').addClass('ready');
        $('#cropImagePop').modal('show');
        rawImg = e.target.result;
      }
      reader.readAsDataURL(input.files[0]);
    }
    else {
      swal("Sorry - you're browser doesn't support the FileReader API");
    }
  }

  $uploadCrop = $('#upload-demo').croppie({
    viewport: {
      width: 700,
      height: 305,
    },
    enforceBoundary: false,
    enableExif: true
  });
  $('#cropImagePop').on('shown.bs.modal', function () {
    $uploadCrop.croppie('bind', {
      url: rawImg
    }).then(function () {
      console.log('jQuery bind complete');
    });
  });

  $('.item-img').on('change', function () {
    imageId = $(this).data('id'); tempFilename = $(this).val();
    $('#cancelCropBtn').data('id', imageId); readFile(this);
  });
  $('#cropImageBtn').on('click', function (ev) {
    $uploadCrop.croppie('result', {
      type: 'base64',
      format: 'jpeg',
      size: { width: 1947, height: 850 }
    }).then(function (resp) {
      $('#item-img-output').attr('src', resp);
      $('#cropImagePop').modal('hide');
    });
  });
	
  
  document.getElementById('Bannerform').addEventListener('submit', async (event) => {
    event.preventDefault();
    if(bannerValidateCreate()){
      const croppedImageSrc = $('#item-img-output').attr('src');

      const formData = new FormData(event.currentTarget);
      formData.append('croppedImage', croppedImageSrc);
      try {
        const response = await fetch("/admin/save-banner", {
          method: "POST",
          body: formData
        });
        const result = await response.json()
        if(result.status === "success"){
        Toastify({
            text: result.msg,
            className: "info",
            style: {
                background: "linear-gradient(to right, #0b7303, #24c9a3)",
            }
            }).showToast();
            setTimeout(() => {
              location.href = '/admin/banner'
            }, 1000);
      }else{
        Toastify({
          text: result.msg,
          className: "info",
          style: {
              background: "linear-gradient(to right, #ff0000, #dd2a7f)",
          }
        }).showToast();
      }
      } catch (error) {
        
      }
    }
    
});

// $(document).ready(function () {
//       $('select').selectize({
//           sortField: 'text'
//       });
//   });

</script>

 
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

<script src="/admin/assets/js/admin/bannerValidate.js"></script> 