<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from htmldemo.net/ezone/ezone/product-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Aug 2023 07:51:57 GMT -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>LapShopPro</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/assets/img/logo/favicon-32x32.png">


  <!-- all css here -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/pe-icon-7-stroke.css">
  <link rel="stylesheet" href="/assets/css/icofont.css">
  <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
  <link rel="stylesheet" href="/assets/css/easyzoom.css">
  <link rel="stylesheet" href="/assets/css/bundle.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/sidebar/css/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
  <script src="/assets/js/vendor/modernizr-3.11.7.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- AJAX link -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- checkout link -->
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>



</head>

<body>

  <%- include('../partials/navbar.ejs') %>

    <page> <%-body %> </page>


    <%- include('../partials/footer.ejs') %>

</body>

</html>